.catalog-father{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: blueviolet;
    padding: 5rem;
}

.catalog-name{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: red;

    
}
.catalog-logo{
    width: 10rem;
    border-radius: 50%;
    padding: 1rem;
    background-color: blue;
}

.catalog-description{
    width: 80%;
    height: auto;
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin-bottom: 3rem;
    background-color: green;
}

.catalog-icon{
    width: 5rem;
    display: flex;
    justify-items:right;
    background-color: pink;

    
}

.catalog-cards{
    display: flex;
    flex-wrap: wrap;
}