.center-myaccount{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 3rem;
}
.container-userOptions{ 
    
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    background-color: whitesmoke;
    max-width: 455px;
    min-width: 255px;
    height: 30px;
    padding: 1.5rem;
    margin: 0.4rem;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.container-userOptions:hover {
    opacity: 0.8;
    cursor: pointer;
}

.centerProfile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.profilePicture img{
    width: 100px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.profileInformation{
    text-align: center;
    font-size: 100%;
}

.myaccount-top{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.container-Showcase{
    font-size: 0.6rem;
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    background-color: whitesmoke;
    max-width: 255px;
    height: 30px;
    padding: 1rem;
    margin: 0.5rem;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.container-Showcase{
    opacity: 0.8;
}

