.center-all{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.team-father{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.team-description{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*
video{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; 
}
*/
