@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');


*{
    font-family: 'Source Code Pro', monospace;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 2rem;
}

.center-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url('../../image/BAckground.jpg');
    background-position: center;
    background-size: cover;    
}

/* .btn-descubra{
    background-color: white;
    border-radius: .4rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.472);
    border: none;
    cursor: pointer;
    font-size:1rem;
    background: rgba(143, 2, 112, 0.452);
} */

/* .slider-image img{
    width: 80%;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.472);
    margin:100px 0 200px 0;
    display: flex;
    align-items: center;
    justify-content: center;
} */

