.slider{
   
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: .3rem;
}
.slider-text{
    font-size: 1.1rem ;
    font-weight: 700;
    text-decoration: double;
    justify-content: right;
} 

.slider-image img{
    width: 80%;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.472);
    margin:100px 0 200px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
