.relations-metaverse-father{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.center-realtions{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}