.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;   
    margin: 15px
}
.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;

}
.navbar img{
    width: 25px;
}

.navbar-list{
    font-size: 25px;
}