.recent-search-father{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.recent-search-input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    padding: 10px;
    margin-top: 1rem;
}

.recent-search-list{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.center-search-list{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1rem;
    flex-direction: column;
}