@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}


.center-signs{
  display: flex;
  align-items:baseline;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}

::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  background: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

::-webkit-scrollbar-corner {
  background: whitesmoke;
}
