* {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
    
}

::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  background: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

::-webkit-scrollbar-corner {
  background: whitesmoke;
}
