.center-card3D{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.center-card3D-father{
    display:flex ;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: white;
}

.card3D{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card3Dimg{
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 1rem 1rem 0px 0px;
}

.card0row{
    border: none;
}

.card1row{
    border-radius: 0px 0px 1rem 1rem;
    background: rgb(104,105,173);
    background: linear-gradient(180deg, rgba(104,105,173,1) 10%, rgba(255,255,255,1) 100%); 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}