.list{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    align-content: center;
    justify-content: space-around;
    padding: 50px;
    margin-left: 200px;
    
    
}
@media screen and (max-width:400px) and (orientation:portrait) {

    .container{
        width: 400px;
        height: auto;
        display: flex;
        justify-content: center;
        align-content: center;

    }
    
    .list{
        width: 100%;
        padding: 0;
        margin: 8%;
        justify-content: center;
        
        
    }

}

@media screen and (max-width:400px) and (orientation:landscape){
    .list{
        background: blue;
        width: 300px;
        height: 300px;
        margin: 0;

    }
}

@media screen and (min-width:401px) and (max-width:800px){
    .list{
        background: pink;
        width: 750px;
        margin: 0;
    }
}

@media screen and (min-width:801px) and (max-width:1200px){
    .list{
        background: grey;
        width: 1200px;
        margin: 0;
        flex-wrap: wrap;
    }
}
