.what-is{
    margin-top:3rem;
}

.home-father{
    padding: 10px;
 
}
.home-midias{
   
    align-items: center;
    justify-content: center;
    color: #6869ad;
    font-size: 25px;
    margin: 0 1rem 5rem 18rem;
   
}


.span-home{
    margin: 5rem 1rem 5rem 10rem;
    font-size: 20px;
}