/* .search-slider{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 4rem;
    

} */

h3{
    padding: 10px;
}

.midias{
    display: block;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-bottom: 4rem;
    padding-left: 1rem;
}