.payment-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.payment-father{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    width: 60%;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.payment-start{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    padding: 1rem;
}

.input-payment{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

.button-payment{
    width: 100%;
}

.payment-metod{
    padding: 0.5rem;
}

select{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 0.5rem;   
    outline: none; 
}